body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: brown;
}

p {
    font-size: 20px;
}

button {
    background-color: brown;
    color: beige;
    padding: 10px;
}
